.store__heading {
    font-family: 'Kaushan Script', cursive;
    padding: 20px 0 30px 0;
    font-size: 40px;

}

.store__heading-pink {
    color: #ef7998;
    font-size: 64px;
    font-weight: bold;
}

.page__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #eeeeee;
    padding: 30px 0px;
}

.button__container {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card__container-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    margin: 0 20px;
    width: 75%;

}

.card__images {
    max-width: 100%;
}

.searchbar {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;

}

.searchbar__input {
    padding: 6px 12px;
    width: 100%;
    max-width: 500px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid grey;
    font-family: 'Kaushan Script', cursive;
}